html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: #698aff;
}

.main-section {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10rem;
}

.main-section .text-bg {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6rem;
  width: 100rem;
  height: 50rem;
  margin-top: 20rem;
}
.main-section .main-texts h1 {
  text-transform: uppercase;
  font-size: 12rem;
  margin-bottom: 0;
  font-family: Lexend Tera, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #afc1ff;
  text-shadow: 0px 7px 0 #000000be;
}

.main-section .main-texts h2 {
  display: inline-block;
  font-size: 3.2rem;
  font-family: Lexend Mega, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #0a3871;
  font-weight: 500;
  letter-spacing: 1rem;
  line-height: normal;
}

.main-texts_span {
  text-transform: uppercase;
}

.main-section a {
  display: flex;
  margin: auto;
  width: 18.2%;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #303882;
  border-radius: 10rem;
  color: white;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 350;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main-section a:hover {
  background-color: #7683f8;
  transition: 0.3s;
}

footer .footer-section h4 {
  margin-top: 15rem;
  text-align: center;
  font-size: 3.2rem;
  font-family: Roboto system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 10px;
  font-weight: 400;
}
